<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Properties>
        <Property name="LOG_PATTERN_DEMO">[%d{yyyy-MM-dd HH:mm:ss.SSS}] [${hostName}] [%p][%tid] [%M] [%C] (%L) %n</Property>
        <Property name="LOG_PATH_DEMO">/demo_logs/logs</Property>
    </Properties>

    <Appenders>
        <Console name="demo_console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN_DEMO}"/>
        </Console>

        <RollingFile name="demo_error"
                     fileName="${LOG_PATH_DEMO}/today/error.log"
                     filePattern="${LOG_PATH_DEMO}/%d{yyyyMMdd}/error.log">
            <PatternLayout pattern="${LOG_PATTERN_DEMO}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>

        <RollingFile name="demo_warn"
                     fileName="${LOG_PATH_DEMO}/today/warn.log"
                     filePattern="${LOG_PATH_DEMO}/%d{yyyyMMdd}/warn.log">
            <PatternLayout pattern="${LOG_PATTERN_DEMO}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>

        <RollingFile name="demo_info"
                     fileName="${LOG_PATH_DEMO}/today/info.log"
                     filePattern="${LOG_PATH_DEMO}/%d{yyyyMMdd}/info.log">
            <PatternLayout pattern="${LOG_PATTERN_DEMO}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>

        <RollingFile name="demo_debug"
                     fileName="${LOG_PATH_DEMO}/today/debug.log"
                     filePattern="${LOG_PATH_DEMO}/%d{yyyyMMdd}/debug.log">
            <PatternLayout pattern="${LOG_PATTERN_DEMO}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="demo_console"/>
        </Root>

        <Logger name="com.example.demo" additivity="false" level="DEBUG">
            <AppenderRef ref="demo_console"/>
            <AppenderRef ref="demo_debug"/>
            <AppenderRef ref="demo_info"/>
            <AppenderRef ref="demo_warn"/>
            <AppenderRef ref="demo_error"/>
        </Logger>

        <Logger name="com.example.demo" additivity="false" level="info">
            <AppenderRef ref="demo_console"/>
            <AppenderRef ref="demo_info"/>
            <AppenderRef ref="demo_warn"/>
            <AppenderRef ref="demo_error"/>
        </Logger>
    </Loggers>
</Configuration>